html, body{
    height: 100%;
    margin: 0;
    overflow: hidden;
}
body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    animation-name: xy;
    animation-iteration-count: infinite;
    animation-duration: 44s;
    animation-play-state: running;
    animation-direction: alternate;
}
@keyframes xy {
    0% {background-color: #000;}
    33% {background-color: rgba(0, 0, 0, 0.863);}
    66% {background-color: rgba(0, 0, 0, 0.986);}
    99% {background-color: rgba(0, 0, 0, 0.883);}
    66% {background-color: rgba(0, 0, 0, 0.945);}
    33% {background-color: rgba(0, 0, 0, 0.849);}
    11% {background-color: rgba(0, 0, 0, 0.945);}
  }
main{
    display: flex;
}
p{
    line-height: 1.7;
}
span{
    text-align: center;
    display: block;
    width: 3.03vmax;
    height: 3.03vmax;
    font-family: Helvetica, sans-serif;
    font-size: 3.03vmax;
    color: #64d86b;
    text-shadow: 0px 0.1px 0px #9bff9b11;
}
    /* animation-name: xyz;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-direction: alternate-reverse; */
/* @keyframes xyz {
    0% {text-shadow: 0px 0.3px 0.1px #9bff9b11; color: #64d86b;}
    33% {text-shadow: 0.1px 0.2px 0px #9bff9b11; color: #64d86cf6;}
    66% {text-shadow: 0.1px 0.1px #9bff9b11; color: #64d86cdc;}
    99% {text-shadow: 0.1px 0.2px 0.1px #9bff9b11; color: #64d86cc4;}
    66% {text-shadow: 0px 0.2px 0px #9bff9b11; color: #64d86ce3;}
    33% {text-shadow: 0.1px 0.1px 0px #9bff9b11; color: #64d86cf5;}
    0% {text-shadow: 0px 0.3px 0.1px #9bff9b11; color: #64d86b;}
  } */